@import "tailwindcss";

@font-face {
    font-family: "shabnam";
    src: url("./assets/fonts/Shabnam-Medium.ttf") format("ttf");
}

* {
    /* font-family: 'shabnam'; */
    direction: rtl;
    text-align: right;
}